:host {
  display: block;
}

.wrapper {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.page {
  flex: 1;

  @media (max-width: 1120px) {
    padding: 0 10px;
  }
}


dw-header-logo {
  padding-left: 6px;
}

.docs-header {
  padding: 30px 0;
}

.docs-logo {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #171B1E;
  letter-spacing: 1px;

  img {
    height: 26px;
  }

  &:hover {
    text-decoration: none;
  }

  div {
    margin-left: 10px;
    position: relative;
  }
}

.search {
  position: relative;

  .search-results {
    position: absolute;
    left: 0;
    top: 50px;
    width: 350px;
    background-color: black;
  }
}

.sidebar {
  border: 2px solid red;
}

nav {
  align-self: flex-start;
  position: sticky;
  height: calc(100vh - 5px);
  top: 0;
  /*bottom: 10px;*/
  flex-basis: 220px;
  text-align: left;
  width: 265px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 4px;
  z-index: 201;
  transition: opacity 0.2s ease-in-out;
  scrollbar-color: rgba(169, 173, 175, 0.77) transparent;
  margin-left: -6px;
  padding-left: 6px;

  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;

  @media (max-width: 860px) {
    pointer-events: none;
    opacity: 0;
    position: fixed;
  }

  dw-header-logo {
    flex: 0 0 80px;
  }

  a {
    display: block;
    font-size: 13px;
    color: rgba(227, 236, 240, 0.95);
    /*border-left: 0 solid transparent;*/
    transition: background-color 0.1s ease-out;
    background: transparent;
    /*border-radius: 2px;*/
    /*padding: 2px 8px;*/
    padding: 0 6px;

    margin: 2px 0;

    &.active,
    &:hover {
      border-radius: 2px;
      text-decoration: none;
      /*border-left: 4px solid rgba(118, 133, 151, 0.33);*/
      /*padding-left: 6px;*/
      background: rgba(118, 133, 151, 0.33);
      /*color: var(--color-link-active);*/
    }
  }

  .container {
    flex: 1;
    overflow: auto;
    overflow: overlay;
    padding-bottom: 100px;
    padding-top: 45px;

    @supports not (-webkit-hyphens: none) {
      /* in safari this breaks scrolling styling, so we need to exclude it*/
      scrollbar-width: thin;
    }
  }

  &.showMenu {
    opacity: 1;
    background-color: #0E1217;
    pointer-events: all;
    outline: 10px solid #0E1217;
    border-right: 1px solid #212933;
  }

  .category {
    .category-title {
      font-weight: bold;
      color: white;
      padding: 0 6px;
    }

    &.category {
      margin-bottom: 35px;
    }

    .section-title {
      font-size: 13px;
      margin-top: 10px;
      padding: 0 6px;
      color: grey;
    }

    section {
      padding-left: 5px;
      margin-bottom: 15px;
    }
  }
}

.page-header {
  min-height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.menu-trigger {
  display: none;

  @media (max-width: 860px) {
    display: block;
  }
}

.chapters {
  display: none;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;

  svg {
    margin-left: 5px;
    position: relative;
    top: 2px;
  }
}

.content-wrapper {
  border-radius: 15px;
  background: var(--color-content-text-bg);
  padding-top: 30px;
  /*background: linear-gradient(90deg, #13161C 0%, #0F1217 10.59%);*/
}

@media (max-width: 860px) {
  .chapters {
    display: flex;
    cursor: pointer;
  }

  .wrapper {
    display: block;
  }

  .content-wrapper {
    margin-left: 0;
  }
}
