.page {
    background-image: url(/assets/images/startpage-banner.jpg);
    background-size: auto 650px;
    background-position: top center;
    background-repeat: no-repeat;

    > .wrapper {
        text-align: center;
        padding-top: 420px;
        max-width: 750px;

        .code-box {
            margin-top: 45px;
            border: 1px solid #292929;
            background: #0C0D0F;
            box-shadow: 0px 15px 22px 0px rgba(0, 0, 0, 0.21);
            color: #F35828;
            text-align: center;
            display: inline-block;
            font-family: Source Code Pro, monospace;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding: 17px 30px;
        }
    }

    //if smaller than 1400, load smaller banner
    @media (max-width: 1200px) {
        background-image: url(/assets/images/startpage-banner-small.jpg);
        background-size: auto 450px;

        > .wrapper {
            padding-top: 250px;
        }
    }
}

main {
    position: relative;
    padding-top: 30px;
    margin-bottom: 150px;
}

highlight-code {
    margin: 20px auto;
    max-width: 100%;
}

.feature-end-to-end {

    highlight-code {
        margin: 55px auto auto;
        position: relative;
        z-index: 100;
    }

    .graph {
        width: 852px;
        max-width: 100%;
        margin: auto;
        position: relative;
        z-index: 99;
        top: -15px;
    }

    highlight-code {
        display: inline-block;
    }
}

.feature-center {
    text-align: center;
    margin: auto;

    &.color {
        border-top: 1px solid rgba(34, 91, 123, 0.30);
        border-bottom: 1px solid rgba(34, 91, 123, 0.30);
        background: linear-gradient(180deg, #0D1B23 0%, #0C1A21 25%, #0A151B 48.44%, #091219 75.52%, #091219 100%);
    }

    .wrapper {
        margin: 95px auto;
    }

    .feature-text {
        text-align: center;
    }
}

.two-column {
    margin: 300px auto;
    display: flex;
    flex-direction: row;
    align-items: center;

    .right {
        text-align: right;
        margin: auto;
        margin-right: 0;
    }

    @media(max-width: 660px) {
        display: block;
        .right {
            text-align: center;
        }
    }
}

.feature-with-code {
    //.feature-text {
    //    max-width: 520px;
    //}

    &.left {
        flex-direction: row-reverse;

        div.code-box {
            left: -80px;
        }
    }

    div.code-box {
        margin-left: 55px;
        display: flex;
        border-radius: 3px;
        //position: relative;
        //left: 80px;
        align-items: center;
        background-color: var(--code-background);

        pre.code {
            overflow: visible;
        }

        @media(max-width: 660px) {
            left: 0;
            overflow: auto;
            margin-left: 0;
        }
    }
}

.major-leap {
    border: 1px solid #262626;
    background: #15191C;

    .feature-text {
        max-width: 615px;
    }
}

.separator1 {
    background-image: url(/assets/images/separator1.svg);
    background-position: center;
    background-repeat: no-repeat;
    height: 74px;
    margin: 30px auto;
}

.feature-block {
    margin: 250px 0;
}

.feature-framework {
    text-align: center;
    overflow: auto;

    @media(max-width: 1130px) {
        margin: 0;
    }

    .table {
        max-width: 100%;
        overflow: auto;
    }

    table {
        table-layout: fixed;
        width: 100%;
        min-width: 700px;
        max-width: 930px;
        border-spacing: 10px;
        border-collapse: unset;
        margin: auto;
    }

    table td {
        border-radius: 6px;
        background: #1F242A;
        text-align: center;
        height: 60px;
        font-weight: 600;
        font-size: 15px;
        color: #CDCDCD;
        line-height: 30px;
        overflow: hidden;
        vertical-align: middle;

        .feature-text {
            font-size: 14px;
            line-height: 26px;
            text-align: center;
            padding-top: 12px;
        }

        h2 {
            margin: 0;
        }

        p {
            margin: 0;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
        }
    }

    .features {
        width: 50%;
    }

    .boxes {
        max-width: 200px;

        span {
            display: block;
            background: #737880;
            margin: 2px 0;
            text-align: right;
            color: white;
            padding: 4px;
            font-size: 13px;
        }
    }

    .text {
        text-align: center;

        .buttons {
            justify-content: center;
        }
    }
}
