:host {
    position: relative;
    overflow: hidden;
    display: flex;
    max-height: 27px;
    min-height: 27px;
    flex-direction: column;
    background-color: var(--dui-window-header-bg);

    &.visible {
        flex: 0 0 170px;
        min-height: 60px;
        max-height: 80%;

        .actions {
            border-bottom: 1px solid var(--dui-line-color-light);
        }
    }
}

.actions {
    flex: 0 0 28px;
    display: flex;
    align-items: center;
    padding: 3px 5px;
    font-size: 12px;
    border-top: 1px solid var(--dui-line-color-light);

    .actions-title {
        font-size: 11px;
        padding-left: 4px;
        text-transform: uppercase;
        margin-right: auto;
    }

}

.output {
    flex: 1;
}
