:host {
  a.logo {
    -webkit-filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, .15));
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, .15));

    img {
      height: 25px;
      margin-right: 20px;
    }
  }
}

app-search {
  margin-left: 220px;
}

:host.float {
  display: block;
  z-index: 1000;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

@keyframes fadeInHeader {
}

.wrapper {
  display: flex;
  align-items: center;
  height: 80px;

}

.burger {
  margin-left: auto;
  display: none;
}

:host.startPage {
  @media(max-width: 760px) {
    .burger {
      display: none;
    }
  }
}

@media(max-width: 760px) {
  a.logo {
    text-align: center;
    flex: 1;

    img {
      margin-right: 0 !important;
    }
  }

  .burger {
    display: block;
    position: absolute;
    right: 15px;
    top: 25px;
    border: 10px solid transparent;
  }
  nav {
    display: block;

    a, a:link {
      padding: 7px 10px;
      display: block;
      text-align: left;
    }
  }

  nav.main {
    display: none;
    background: black;
    padding-top: 25px;
  }

  .showMenu {

    nav.main {
      position: fixed;
      top: 70px;
      left: 0;
      bottom: 0;
      right: 0;
      overflow: auto;
      display: block;
      height: 100vh;
    }
  }
}
