node_modules
.idea
docs
coverage
packages/node
packages/network
packages/*/dist
packages/benchmark/src/orm/end-to-end/sqlite/prisma.sqlite
packages/benchmark/src/orm/end-to-end/sqlite/prisma.sqlite-journal
packages/benchmark/results
packages/example-app/var/debug
packages/example-app/migration
.vs