node_modules
.idea
docs
coverage
dist
packages/node
packages/network
packages/benchmark/src/orm/end-to-end/sqlite/prisma.sqlite
packages/benchmark/src/orm/end-to-end/sqlite/prisma.sqlite-journal
packages/benchmark/results
examples/example-app/var/debug
examples/example-app/migrations
packages/create-app/files/dist
packages/create-app/files/var
.vs
.fleet
.angular
tmp
