auto-install-peers=false
ignore-workspace-root-check=true
shamefully-hoist=true
hoist-pattern[]=!*deepkit*
public-hoist-pattern[]=!*deepkit
hoist-pattern[]=!typescript
public-hoist-pattern[]=!typescript
