auto-install-peers=false
#node-linker=hoisted
ignore-workspace-root-check=true
shamefully-hoist=true
public-hoist-pattern[]=!typescript
hoist-pattern[]=*
hoist-pattern[]=!typescript
#hoist-pattern[]=!@angular/compiler
#hoist-pattern[]=!@angular/compiler-cli
#hoist-pattern[]=!@angular-devkit/build-angular
#hoist-pattern[]=!@angular-devkit/core
#hoist-pattern[]=!@angular/core
#hoist-pattern[]=!@nx/angular
#hoist-pattern[]=!ng-packagr
