{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "trailingComma": "all",
  "bracketSpacing": true,
  "tabWidth": 2,
  "singleQuote": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "overrides": [
    {
      "files": ["*.ts", "*.tsx", "*.js", "*.jsx"],
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
