{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "importOrder": ["<THIRD_PARTY_MODULES>", "^@deepkit/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "trailingComma": "all",
  "printWidth": 120,
  "bracketSpacing": true,
  "tabWidth": 2,
  "singleQuote": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ["*.ts", "*.tsx", "*.js", "*.jsx"],
      "options": {
        "tabWidth": 4
      }
    },
    {
      "files": ["*.spec.ts", "*.html"],
      "options": {
        "printWidth": 250
      }
    }
  ]
}
