html {
    padding: 0;
    margin: 0;
}

@import "./assets/muli/stylesheet.css";
@import "./assets/source-code-pro/stylesheet.css";
//@import "./assets/montserrat/stylesheet.css";
@import "./style-code";

html {
  scrollbar-color: rgba(169, 173, 175, 0.77) transparent;
}

body {
    font-family: 'Muli', "Helvetica Neue", sans-serif;
    padding: 0;
    margin: 0;
    font-size: 16px;
    text-align: center;
    background-color: #0E1217;

    -webkit-font-smoothing: antialiased;
    text-rendering: geometricPrecision;
    -moz-osx-font-smoothing: grayscale;

    letter-spacing: 0;

    overflow: auto;
    overflow: overlay;
    scrollbar-width: thin;
    //--color-dark2: #171B1E;
    //--color-blue-white: #BACFE4;
    //--color-blue-dark: #264564;
    --color-grey: #979797;
    //--color-bg: white;
    --color-header: #F9EDDF;
    --color-text: #bbbbbb;
    //--color-text: #C5C5C5;
    //--color-black: #0F0F0F;
    //--code-background: #202020;
    --color-link: #F35828;
    --color-orange: #F35828;
    --color-link-active: #F35828;

    //--color-line: rgba(139, 170, 223, 0.2);
    //
    //--color-blue: #0080FF;
    //--color-link: #0080FF;
    //--color-link-hover: #0062b6;

    box-sizing: border-box;

    &::-webkit-scrollbar {
        height: 11px;
        width: 11px;
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: rgba(169, 173, 175, 0.77);
        border-radius: 8px;
        border: 2px solid rgba(0, 0, 0, 0.01);
        background-clip: padding-box;

        &:hover {
            background: #727475;
            border: 2px solid rgba(0, 0, 0, 0.01);
            background-clip: padding-box;
        }
    }

    color: var(--color-text);
}


html, body {
    height: 100%;
}

h1[id], h2[id], h3[id], h4[id], h5[id], h6[id], h7[id], a[name] {
    position: relative;
    scroll-margin-top: 84px;
}

* {
    box-sizing: border-box;
}

::selection {
    background: #0062b6;
    color: white;
}

span.highlight {
    color: var(--color-orange);
}

.fadeIn {
    --delay: 0s;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    position: relative;
    opacity: 0;
    top: -10px;
    animation-fill-mode: forwards;
    animation-delay: var(--delay);
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        top: -10px;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}

.fancy-hover {
    position: relative;
    display: block;
    overflow: hidden;
    transform: translateZ(0);
    cursor: pointer;

    > * {
        position: relative;
    }

    &::before {
        content: '';
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        border-radius: 3px;
        transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
        background-color: var(--color-orange);
        -webkit-transform: translateX(-110%) skew(-10deg);
        transform: translateX(-110%) skew(-10deg);
    }

    &:hover::before {
        -webkit-transform: scaleX(1.3) translateX(0) skew(-10deg);
        transform: scaleX(1.3) translateX(0) skew(-10deg);
    }

}


.video-js .vjs-tech:focus {
    outline: 0;
}

.text-grey {
    color: var(--text-grey);
}

a, a:link {
    text-decoration: none;
    color: var(--color-link);
}

code {
    padding: 2px 5px;
    margin: 0;
    font-size: 85%;
    background-color: rgb(43 43 43 / 86%);
    border-radius: 4px;
    white-space: nowrap;
}

pre > code {
    display: block;
    white-space: pre-wrap;
}

.big-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    grid-gap: 50px;
    grid-auto-rows: 1fr;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    margin: 15px 0;
    font-size: 13px;

    td, th {
        padding: 4px 3px;
        vertical-align: top;
    }

    tr:nth-child(even) td {
        background-color: rgba(33, 33, 33, 0.56);
    }

    tr:hover td {
        background-color: rgba(70, 70, 70, 0.56);
    }

    th {
        font-weight: bold;
        font-size: 12px;
        border-bottom: 1px solid #6e6e6e;
    }
}

input, select, textarea {
    background-color: #1f1f1f;
    border: 1px solid #3d3d3d;
    border-radius: 4px;
    color: white;
    padding: 5px 8px;
    font-size: 14px;
    line-height: 16px;

    //we cant use `Muli` since it doesn't support entering multiple backticks
    font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-variation-settings: normal;
    font-feature-settings: normal;

    scrollbar-color: rgba(169, 173, 175, 0.77) transparent;

    &::-webkit-scrollbar {
        height: 11px;
        width: 11px;
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: rgba(169, 173, 175, 0.77);
        border-radius: 8px;
        border: 2px solid rgba(0, 0, 0, 0.01);
        background-clip: padding-box;

        &:hover {
            background: #727475;
            border: 2px solid rgba(0, 0, 0, 0.01);
            background-clip: padding-box;
        }
    }

    &:focus {
        outline: none;
        border-color: var(--color-orange);
    }
}

pre.codeHighlight[title] {
    &::before {
        display: block;
        text-align: center;
        content: attr(title);
        margin-bottom: 5px;
        color: #ddd;
        font-style: italic;
    }
}

h3.text {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 180%;
    color: #C5C5C5;
    max-width: 900px;
    margin: auto;
}

.app-boxes,
.app-boxes-small {
    display: grid;
    grid-gap: 45px;
    grid-auto-columns: auto;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
}

.app-boxes-small {
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    color: var(--color-grey);

    font-size: 14px;

    .app-box {
        padding: 15px 20px;
        border-radius: 3px;
        border: 1px solid rgba(57, 56, 65, 0.60);
        background: linear-gradient(180deg, #191B1E 0%, #141617 100%);
        box-shadow: 0px 2px 20px 0px rgba(18, 18, 18, 0.50);
    }

    .title {
        color: #c9c9c9;
        font-size: 17px;
        font-weight: 700;
        margin-bottom: 10px;
    }
}

.app-box {
    border-radius: 6px;
    border: 1px solid rgba(48, 48, 48, 0.50);
    background: rgba(15, 15, 15, 0.40);

    text-align: left;

    &.hover:hover, &:focus {
        cursor: pointer;
        border-color: var(--color-orange);
    }
}

codebox,
pre.code {
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;

    border-radius: 6px;
    border: 1px solid rgba(48, 48, 48, 0.50);
    background: rgba(15, 15, 15, 0.40);
    color: #ddd;
    padding: 31px;
    text-align: left;

    max-width: 100%;
    overflow: auto;
    overflow: overlay;
    scrollbar-width: thin;

    user-select: text !important;
    -webkit-user-select: text !important;
    cursor: text !important;

    @media (max-width: 800px) {
        padding: 12px;
    }

    * {
        user-select: text !important;
        -webkit-user-select: text !important;
        cursor: text !important;
    }

    scrollbar-color: rgba(169, 173, 175, 0.77) transparent;

    &::-webkit-scrollbar {
        height: 11px;
        width: 11px;
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: rgba(169, 173, 175, 0.77);
        border-radius: 8px;
        border: 2px solid rgba(0, 0, 0, 0.01);
        background-clip: padding-box;

        &:hover {
            background: #727475;
            border: 2px solid rgba(0, 0, 0, 0.01);
            background-clip: padding-box;
        }
    }
}

codebox {
    padding: 0;
}

.scroll-small {
    overflow: auto;
    overflow: overlay;
    scrollbar-width: thin;
    scrollbar-color: rgba(169, 173, 175, 0.77) transparent;

    &::-webkit-scrollbar {
        height: 11px;
        width: 11px;
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: rgba(169, 173, 175, 0.77);
        border-radius: 8px;
        border: 2px solid rgba(0, 0, 0, 0.01);
        background-clip: padding-box;

        &:hover {
            background: #727475;
            border: 2px solid rgba(0, 0, 0, 0.01);
            background-clip: padding-box;
        }
    }
}

h1, h2, h3, h4, h5, h6, h7 {
    font-style: normal;
    color: var(--color-header);
}

h1 {
    font-size: 48px;
    font-weight: 300;
    line-height: 120%;
}

h2 {
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

hr {
    height: 1px;
    border: 0;
    background: rgba(221, 221, 221, 0.42);
    margin: 25px 0;
}

a, a:link {
    &:hover {
        color: var(--color-orange);
        text-decoration: underline;
    }
}

main, .wrapper {
    margin: auto;
    max-width: 1100px;

    @media(max-width: 1120px) {
        padding: 0 10px;
    }
}

.page {
    text-align: left;
    padding-top: 80px;
    //max-width: 1500px;
    //margin: auto;
    //border-left: 1px solid black;
    //border-right: 1px solid black;
}

.tagline {
    max-width: 652px;
    font-size: 16px;
    line-height: 26px;
}

.text-page {
    max-width: 720px;
    margin: 55px auto;
    padding: 0 20px;
}

pre.console {
    padding: 24px 14px;
    border-radius: 8px;
    background: #EEEEEE;
}

.app-note {
    padding: 15px 20px;
    background: #171B1E;
    font-size: 14px;
}

.app-tag {
    border-radius: 8px;
    background: #171B1E;
    padding: 3px 13px;
    font-size: 12px;
    line-height: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.app-pre-headline {
    color: #888;
}

.app-content,
.app-content-full {
    position: relative;
    min-height: 90vh;
    //text-align: left;
    padding-top: 80px;
    padding-bottom: 250px;
    margin: auto;
    text-align: left;
    //margin-left: 225px;
    font-size: 15px;
    line-height: 170%;
    max-width: 750px;
    overflow: hidden;
    flex: 1;
    padding-right: 0;

    img {
        max-width: 100%;
    }

    &.normalize-text {
        ol, ul {
            text-align: left;
        }

        li, li p.text {
            padding: 0;
            margin: 0;
            text-align: left;
        }

        li {
            padding: 3px 0;
        }

        h1, h2, h3, h4, h5 {
            color: white;
        }

        highlight-code {
            width: 100%;
            display: block;
        }

        h1 {
            font-size: 28px;
            font-weight: 600;
            line-height: 36px;
            margin-top: 0;
        }

        h2 {
            font-size: 20px;
            line-height: 28px;
            font-weight: 600;
            margin-top: 35px;
        }

        h2 {
            font-weight: bold;
        }

        h3, h4 {
            font-weight: bold;
        }
    }
}

.app-box {
    border-radius: 3px;
    border: 1px solid rgba(57, 56, 65, 0.60);
    background: linear-gradient(180deg, #1E2124 0%, #141617 100%);
    box-shadow: 0px 2px 20px 0px rgba(18, 18, 18, 0.50);
    padding: 25px 28px;
}

.app-box-transparent {
    border-radius: 3px;
    border: 1px solid rgba(57, 56, 65, 0.60);
}

.app-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 90px 0;
    border-top: 1px solid #2B2B2B;
    border-bottom: 1px solid #2B2B2B;
    background: radial-gradient(85.21% 100% at 50% 0%, #17191C 0%, #111213 100%);

    &.left {
        text-align: left;
        align-items: start;
    }

    color: var(--color-text);
    line-height: 200%;

    .wrapper {
        max-width: 810px;
    }

    img.deepkit {
        width: 192px;
        height: 32px;
        margin-bottom: 24px;
    }

    h1 {
        margin: 0;
        color: #F9EDDF;
        font-size: 48px;
        font-style: normal;
        font-weight: 300;
        line-height: 120%; /* 57.6px */
    }

    h2 {
        margin: 0;
        color: #F9EDDF;
        font-size: 32px;
        font-style: normal;
        font-weight: 300;
        line-height: 50px;
    }
}

.app-content-full {
    max-width: unset;
}

button, a.button, a.button:link {
    user-select: none;
    display: inline-block;

    border-radius: 26px;
    border: 1px solid rgba(255, 102, 42, 0.48);
    background: #171B1E;

    //background: #2B3034;
    //border-radius: 4px;

    padding: 6px 20px;
    padding-bottom: 8px;
    text-align: center;
    color: white;
    font-size: 14px;
    line-height: 16px;

    &.big {
        //font-family: Montserrat, verdana, sans-serif;
        //font-weight: 500;
        letter-spacing: 1px;
        padding: 12px 40px;
    }

    &:hover {
        cursor: pointer;
        color: white;
        text-decoration: none;
    }

    &:hover {
        background: #494f53;
    }

    &:active {
        background: #1a1615;
    }
}

button.primary,
a.button.primary {
    background: #FF662A;

    &:hover {
        cursor: pointer;
        color: white;
        text-decoration: none;
        background: #b54116;
    }

    &:active {
        background: #9b3510;
    }
}

.page {
    .feature-text {
        font-size: 15px;
        margin-top: 25px;
        font-weight: 400;
        line-height: 200%; /* 30px */
        text-align: justify;
        margin-left: auto;
        margin-right: auto;
    }
}

//
//.page-text {
//    max-width: 750px;
//    margin: 45px auto;
//    text-align: left;
//    font-size: 15px;
//    padding: 0 10px;
//
//
//    h1, h2 {
//        margin-top: 0;
//        font-weight: 600;
//        letter-spacing: 4px;
//    }
//
//    img {
//        max-width: 100%;
//    }
//
//    h2 {
//        font-weight: bold;
//    }
//
//    > h2 {
//        margin-top: 36px;
//    }
//
//    > .line {
//        margin: 45px 0;
//    }
//}
//

.buttons {
    display: flex;
    align-items: center;
    padding: 5px 0;

    > * {
        margin: 0 5px;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

.banner-features {
    display: flex;
    margin: 60px auto;

    > div {
        flex: 0 0 50%;
        display: flex;
        flex-direction: column;
        text-align: center;

        h3 {
            flex: 0 0 30px;
        }

        > div {
            padding: 25px;
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &:not(:first-child) {
            > div {
                border-left: 1px solid #54545466;
            }
        }
    }

    @media(max-width: 660px) {
        display: block;
        > div {
            &:not(:first-child) {
                > div {
                    border-left: 0 !important;
                }
            }
        }
    }
}


.cards {
    display: grid;
    grid-gap: 45px;
    grid-auto-columns: auto;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

    &.links .card {
        background: #FFFFFF;
        box-shadow: 0 0 16px rgb(0 0 0 / 13%);

        &:hover {
            box-shadow: 0 0 16px rgb(0 0 0 / 23%);
            background-color: #f9f9f9;
        }
    }
}

.card {
    background: #FAFAFA;
    box-shadow: 0 2px 24px rgba(0, 0, 0, 0.20);
    border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:link:hover {
        text-decoration: none;
    }

    h4 {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
    }

    p {
        font-size: 13px;
    }
}

.image {
    img {
        max-width: 100%;
    }

    @media(max-width: 540px) {
        text-align: center;
    }
}

.benchmark-link {
    text-align: right;
    font-size: 13px;
}

.app-examples {
    display: grid;
    grid-gap: 25px;
    grid-auto-columns: auto;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;

    @media(max-width: 900px) {
        grid-template-columns: 1fr 1fr;
    }

    @media(max-width: 700px) {
        grid-template-columns: 1fr;
    }

    &.small {
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;

        @media(max-width: 700px) {
            grid-template-columns: 1fr;
        }

        .app-example-item {
            padding: 10px 12px;
            font-size: 14px;
        }
    }

    .app-example-item {
        display: block;
        border-radius: 3px;
        border: 1px solid rgba(52, 52, 52, 0.69);
        background: rgba(34, 34, 34, 0.19);
        padding: 12px 15px;
        color: var(--color-text);
        font-size: 14px;
        text-align: left;

        &:hover {
            background: rgba(34, 34, 34, 0.29);
            border: 1px solid rgba(108, 108, 108, 0.69);
            text-decoration: none;
            color: var(--color-link);
        }

        &:active {
            background: rgb(17, 17, 17);
        }
    }
}

.app-search-field {
    position: relative;
    //display: flex;
    flex-direction: row;
    height: 28px;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 150px;
    z-index: 2001;
    max-width: 100%;
    transition: width 0.2s ease-in-out;

    input {
        width: 100%;
        padding-right: 25px;
        height: 100%;
    }

    img {
        position: absolute;
        right: 4px;
        top: calc(50% - 9px);
    }
}

.app-search-result-item {
    text-align: left;
    border-bottom: 1px solid #282828;
    padding: 15px 10px;
    overflow: hidden;

    &:hover {
        background-color: rgba(26, 26, 26, 0.87);
        cursor: pointer;
    }

    .path {
        color: #a2a2a2;
        font-size: 12px;
    }

    .title {
        margin: 5px 0;
        color: white;
    }

    .content {
        font-size: 14px;
    }
}

.app-product {
    text-align: center;
    margin-top: 150px;

    p {
        max-width: 800px;
        margin: 15px auto;
        font-size: 15px;
        line-height: 200%;
    }
}

.about-us-image {
    img {
        max-width: 250px;
    }

}
