:host {
  display: block;
  margin-top: 35px;
  margin-bottom: 35px;
}

.title {
  display: flex;
  margin-bottom: 10px;
  dui-input {
    margin-left: auto;
  }
}

p {
  color: gray;
}

table {
  width: 100%;
  table-layout: fixed;

  th {
    font-weight: 400;
    padding: 13px 32px;
    text-align: left;
    background: #f5f5f5;
  }

  td {
    font-weight: 400;
    padding: 8px 16px;
    border: 1px solid rgba(0,0,0,.03);
  }
}
