/* You can add global styles to this file, and also import other style files */
@import "./view-styles";

::ng-deep {
    @import "../../style-code";
}

:host {
    display: flex;
    width: 100%;
    overflow: hidden;
    height: 100%;
}

.routes {
    position: relative;
    flex: 1 0 320px;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    background-color: var(--dui-window-header-bg);

    dui-list {
        flex: 1;
    }

    .list-description {
        font-size: 12px;
        color: var(--text-light);
    }

    .filter {
        margin: 5px 12px;
        display: flex;
        flex-direction: column;
        align-items: center;

        dui-button-group {
            width: 100%;

            dui-select {
                flex: 1;
            }
        }

        dui-input {
            width: 100%;
            margin-bottom: 6px;
        }
    }

    .actions-bottom {
        height: 27px;
        padding: 3px 12px;
        border-top: 1px solid var(--line-color-light);
        display: flex;
        align-items: center;
        font-size: 12px;

        .group-by {
            display: flex;
            margin-left: auto;
            align-items: center;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: keep-all;
            white-space: nowrap;
        }

        dui-checkbox {
            display: flex;
            align-items: center;

        }
    }
}

dui-button-group {
    margin-right: 0 !important;
}

.form {
    flex: 1 1 50%;
    border-left: 1px solid var(--line-color-light);
    border-right: 1px solid var(--line-color-light);

    display: flex;
    flex-direction: column;

    > .route {
        flex: 1;
        height: 100%;
        overflow: hidden;

        display: flex;
        flex-direction: column;

        .url-input-container {
            margin: 12px;
            margin-bottom: 0;

            dui-button-group {
                width: 100%;
            }

            .url {
                height: 21px;
                line-height: 21px;
                display: flex;
                align-items: center;
                flex: 1;
                padding: 0 5px;
                border-top: 1px solid var(--line-color-light);
                border-bottom: 1px solid var(--line-color-light);
            }
        }

        .route-container {
            padding: 12px;
            padding-top: 0;
            flex: 1;
        }
    }

    > .code-generation {
        overflow: hidden;
        display: flex;
        max-height: 27px;
        flex-direction: column;
        background-color: var(--dui-window-header-bg);

        .actions {
            flex: 0 0 28px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 3px 5px;
            border-top: 1px solid var(--line-color-light);
        }

        .output {
            flex: 1;
            padding: 12px;
        }

        &.visible {
            max-height: unset;
            flex: 0 0 170px;

            .actions {
                border-bottom: 1px solid var(--line-color-light);
            }
        }
    }
}

.code-generation-code pre {
    word-break: break-all !important;
    white-space: pre-line !important;
}

.actions-title {
    font-size: 11px;
    padding-left: 4px;
    text-transform: uppercase;
    margin-right: auto;
}

.right {
    flex: 1 1 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .server-stats {
        overflow: hidden;
        display: flex;
        max-height: 27px;
        flex-direction: column;
        background-color: var(--dui-window-header-bg);

        .actions {
            flex: 0 0 28px;
            display: flex;
            align-items: center;
            padding: 3px 5px;
            font-size: 12px;
            border-top: 1px solid var(--line-color-light);
        }

        .output {
            flex: 1;
            padding: 12px;
        }

        &.visible {
            max-height: unset;
            flex: 0 0 170px;
            .actions {
                border-bottom: 1px solid var(--line-color-light);
            }
        }
    }

    .requests {
        flex: 1;
        padding: 0 10px;

        .no-requests {
            padding: 25px;
            color: var(--text-light);
            text-align: center;

            > div {
                margin: 5px;
            }
        }
    }
}

.request {
    display: block;
    margin-top: 6px;

    .line {
        display: flex;
        align-items: center;
        width: 100%;
        overflow: hidden;
        border: 1px solid var(--line-color-light);
        border-radius: 3px;

        dui-icon {
            margin-left: 3px;
        }

        .method {
            font-size: 11px;
            font-weight: bold;
            padding: 3px 5px;
        }

        .url {
            padding: 3px 5px;
            flex: 1;
            max-height: 41px;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 12px;
        }

        .status {
            padding: 0 3px;
            font-size: 11px;
        }

        > dui-icon {
            margin-right: 5px;
        }

        .status-box {
            border: 1px solid var(--color-green);
            color: var(--color-green);
            border-radius: 3px;
            padding: 0px 5px;

            &.red {
                color: var(--color-red);
                border: 1px solid var(--color-red);
            }

            &.orange {
                color: var(--color-orange);
                border: 1px solid var(--color-orange);
            }
        }
    }

    .results {
        word-break: break-all;
        overflow: hidden;
        max-height: 80%;
        padding: 5px;
        background-color: var(--dui-window-header-bg);

        .request-info {
            font-size: 12px;
            margin-bottom: 5px;
            color: var(--text-light);
        }
    }
}

.group-content {
    margin-bottom: 10px;
}

.list-item {
    display: flex;
    align-items: center;
    overflow: hidden;

    .path {
        flex: 1;
        overflow: hidden;
        word-break: keep-all;
        text-overflow: ellipsis;
    }

    .method {
        text-align: right;
        font-size: 11px;
        font-weight: bold;
        padding: 0px 5px;

        border: 1px solid var(--line-color);
        border-radius: 3px;
    }
}
