:host {

}

.app-content {
  margin-right: 230px;
  overflow: visible;

  ::ng-deep {
    codebox {
      max-width: unset;
      display: block;
      margin-right: -230px;
    }
  }
}


.table-of-content {
  text-align: left;
  width: 180px;
  float: right;
  overflow: hidden;
  padding-top: 80px;

  a, a:link {
    display: block;
    padding: 3px 0;

    &.intend-1 {
      padding-left: 15px;
    }

    &.intend-2 {
      padding-left: 30px;
    }

    &.h4 {
      padding-left: 15px;
    }

    &.h5 {
      padding-left: 25px;
    }
  }
}
