:host {
    display: flex;
    align-items: center;
    height: 20px;
    line-height: 20px;
    text-align: left;

    &:focus {
        outline: 0;
        //outline: 1px solid #4686de;
    }
}

:host.disabled {
    opacity: 0.6;
    pointer-events: none;
}

.box {
    width: 14px;
    height: 14px;
    line-height: 14px;
    margin-right: 4px;
    vertical-align: top;

    background: white;
    border-top: 1px solid #a5a5a5;
    border-left: 1px solid #b8b8b8;
    border-right: 1px solid #b8b8b8;
    border-bottom: 1px solid #b8b8b8;
    border-radius: 3px;

    display: inline-flex;
    align-items: center;
    //transition: all 0.08s ease-in;
}


dui-icon {
    opacity: 0;
}

:host.checked .box {
    background: #3b88fd;
    border: 1px solid #338EF4;

    dui-icon {
        opacity: 1;
        color: white;
        text-shadow: 0 1px 1px rgba(77, 77, 77, 0.65);
    }
}

:host-context(.dark) {
    .box {
        background-image: linear-gradient(-180deg, #515151 0%, #6A6A6A 100%);
        //background: linear-gradient(-180deg, rgba(255, 255, 255, 0.14) 0%, rgba(255, 255, 255, 0.28) 100%);
        box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.40), 0 0 1px 0 rgba(0, 0, 0, 0.20), inset 0 0 0 0 rgba(255, 255, 255, 0.25), inset 0 1px 0 0 rgba(255, 255, 255, 0.06);
        border: 1px solid transparent;
    }

    &:active .box {
        background-image: none;
        background-color: #7c7c7c;
    }

    &.checked {
        .box {
            background-image: linear-gradient(-180deg, #1769E5 0%, #165FD0 100%);
        }

        &:active .box {
            background-image: none;
            background-color: #1f76ed;
        }
    }
}
