:host {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;

    --color-for-root: #d2450f;
    --color-imported: #168D9D;
}

.modules {
    flex: 1;
    padding: 25px 25px 0;
    overflow: auto;
}

.bottom-bar {
    display: flex;
    align-items: center;
    padding-left: 25px;
    height: 35px;
    border-top: 1px solid var(--line-sidebar-light);
    background: var(--dui-window-header-bg);

    > span {
        margin-right: 12px;
        font-size: 12px;
    }
}

.imported {
    color: var(--color-imported);
}

.exported {
    color: var(--color-orange);
}

.for-root {
    color: var(--color-for-root);
}
