:host {
  padding: 8px;
  display: flex;
  white-space: nowrap;
  word-break: keep-all;

  &.align-center {
    justify-content: center;
  }

  &.align-right {
    justify-content: flex-end;
  }
}

:host ::ng-deep > *:not(dui-button-group) {
  margin-right: 6px;
}
