
:host {
    display: flex;
    white-space: nowrap;
    gap: 6px;
    word-break: keep-all;

    &.align-center {
        justify-content: center;
    }

    &.align-right {
        justify-content: flex-end;
    }
}
