:host {
  padding: 2px 10px;
  position: relative;
  overflow: hidden;
  border-radius: 4px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 4px;

  &.active {
    background-color: var(--dui-selection-unfocused);
  }

  &.selected {

  }

  &.checkbox {
    padding-left: 4px;
  }

  &.disabled {
    opacity: 0.8;
    pointer-events: none;
  }

  &:not(.disabled):hover {
    background-color: var(--dui-selection);
    color: white;
  }
}
