:host {
    display: flex;
    align-items: center;
    width: 100%;
}

.property-seed-value {
    margin-left: 5px;
    flex: 1;
    height: 21px;

    &.select {
        display: flex;
        align-items: center;
        dui-select {
            width: 100%;
        }
    }
}

.choose-type {
    display: flex;
    align-items: center;
    height: 22px;
    flex: 1;

    div {
        flex: 1;
        padding: 1px 4px;
        padding-left: 0;
    }

    dui-button {
        margin-left: auto;
    }
}

.array-config {
    margin: 15px 0;
    display: flex;
    width: 100%;

    > * {
        margin-right: 4px;
    }
}
