:host {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
}

.actions {
    margin-bottom: 15px;
}

.entities {
    flex: 1;
}

:host-context(body) dui-table ::ng-deep .cell-value {
    display: inline-flex;
    align-items: center;
    height: 22px;
    white-space: nowrap;

    dui-checkbox {
        margin-right: 5px;
    }

    .property-seed-value {
        margin-left: 5px;
        flex: 1;
        height: 21px;

        &.select {
            display: flex;
            align-items: center;
            dui-select {
                width: 100%;
            }
        }
    }
}

.entity {
    margin-bottom: 15px;

    .settings {
        margin-top: 5px;
    }
}

.choose-type {
    display: flex;
    align-items: center;
    flex: 1;

    div {
        flex: 1;
        padding: 1px 4px;
        padding-left: 0;
    }

    dui-button {
        margin-left: auto;
    }
}
