.benchmark-run {
    border-bottom: 1px solid rgba(66, 66, 66, 0.25);
    margin-bottom: 15px;
    padding-bottom: 15px;

    .description {
        font-size: 14px;

        ::ng-deep pre {
            border-radius: 3px;
            padding: 7px 5px !important;
            font-size: 13px !important;
        }
    }

    .link {
        padding: 5px 0;
        font-size: 13px;
    }

    .layout {
        display: flex;
        overflow: hidden;

        .plot {
            flex: 1;
            overflow: hidden;

            ::ng-deep .svg-container {
                max-width: 100%;
            }
        }

        .text {
            width: 380px;
            padding-left: 15px;
        }

        @media(max-width: 780px) {
            display: block;
        }
    }

    .how-to-run {
        border-radius: 6px;
        border: 1px solid rgba(48, 48, 48, 0.5);
        background: rgba(15, 15, 15, 0.4);
        padding: 8px;
        font-size: 14px;
        overflow: hidden;

        pre {
            margin: 0;
        }
    }
}


.info {
    font-size: 13px;
    margin: 15px 0;

    table-layout: fixed;
    width: 100%;
}

.benchmark-selection {
    columns: 200px auto;
    font-size: 13px;
    border-bottom: 1px solid rgba(89, 89, 89, 0.14);
    padding-bottom: 15px;
    margin-bottom: 15px;

    > div {
    }
}

.last-results {
    width: 100%;
    font-size: 13px;

    .y {
        text-align: right;
    }
}

.results-info {
    margin-top: 6px;
    font-size: 12px;
    color: grey;
    text-align: right;
}



:host ::ng-deep svg text {
    font-family: -apple-system, "SF Pro Text", "SF Pro", SFProText-Medium, "Roboto", "Helvetica Neue" !important;
    text-shadow: none !important;
}

//:host ::ng-deep .infolayer text {
//    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
//}

:host ::ng-deep svg text {
    font-size: 10px !important;
}

:host ::ng-deep svg.main-svg {
    background-color: transparent !important;
}

:host ::ng-deep svg .bg {
    fill: transparent !important;
}

:host ::ng-deep svg .yaxislayer-above {
    transform: translate(-4px, 0px);
}

:host ::ng-deep svg .xaxislayer-above text,
:host ::ng-deep svg .yaxislayer-above text {
    font-size: 10px !important;
}

:host ::ng-deep svg text {
    fill: white !important;
}

:host ::ng-deep svg .xgrid,
:host ::ng-deep svg .ygrid {
    stroke: rgba(146, 146, 146, 0.5) !important;
}

:host ::ng-deep svg .js-line,
:host ::ng-deep svg .gridlayer > g {
    transition: all 0.2s ease-in;
}

:host ::ng-deep svg .hovertext > rect {
    fill: black !important;
}

:host ::ng-deep svg .hovertext > path {
    stroke: black !important;
}
