:host {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.nodes {
  position: relative;
  display: inline-block;

  svg {
    position: absolute;
    left: 0;
    top: 0;

    path {
      fill: none;
      stroke: var(--line-color-prominent);
      stroke-width: 1px;
    }
  }
}

.node {
  position: absolute;
  background-color: rgba(238, 238, 238, 0.1);
  border: 1px solid var(--line-color-light);
  font-size: 12px;
  line-height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;

  .label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
  }
}
