:host {
    position: absolute;
}

:host.splitter-right {
    width: 5px;
    right: -2px;
    top: 0;
    bottom: 0;
    cursor: ew-resize;
}

:host.splitter-left {
    width: 5px;
    left: -2px;
    top: 0;
    bottom: 0;
    cursor: ew-resize;
}

:host.splitter-top {
    top: -2px;
    left: 0;
    right: 0;
    height: 5px;
    cursor: ns-resize;
}

:host.splitter-bottom {
    bottom: -2px;
    left: 0;
    right: 0;
    height: 5px;
    cursor: ns-resize;
}

:host.splitter-with-indicator.splitter-right:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    left: 2px;
    background: #d6d6d6;
}


:host-context(.dark).splitter-with-indicator.splitter-right:before {
    background: #474747;
}
