:host {
  display: block;
  position: relative;
  border: 1px solid var(--line-color-light);
  border-radius: 3px;
  background-color: var(--dui-window-header-bg);
  margin: 20px 0;
  padding-top: 10px;
}

.box-title {
  position: absolute;
  padding: 0 5px;
  top: -9px;
  left: 5px;
  font-size: 12px;

  > div {
    position: relative;
  }

  &::before {
    content: '';
    position: absolute;
    height: 1px;
    left: 0;
    right: 0;
    top: 8px;
    background-color: var(--dui-window-header-bg);
  }
}

.box-info-text {
  color: var(--text-light);
  font-size: 12px;
  text-align: center;
  padding: 15px;
}
