:host {
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    line-height: 20px;
    text-align: left;

    &:focus {
        outline: 0;
        //outline: 1px solid #4686de;
    }
}

:host.disabled {
    opacity: 0.6;
    pointer-events: none;
}

.box {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 14px;
    margin-right: 4px;
    vertical-align: top;
    margin-top: 2px;
    border-radius: 14px;

    background: white;
    border: 1px solid #adadad;

    transition: all 0.08s ease-in;
}

.circle {
    position: absolute;
    left: calc(50% - 3px);
    top: calc(50% - 3px);
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background-color: white;
    opacity: 0;
    box-shadow: 0 1px 3px #1a6adf;
}

:host.checked .box {
    background: #3b88fd;
    border: 1px solid #338EF4;

    .circle {
        opacity: 1;
    }
}


:host-context(.dark) {
    .box {
        background: linear-gradient(-180deg, rgba(255, 255, 255, 0.14) 0%, rgba(255, 255, 255, 0.28) 100%);
        box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.40), 0 0 1px 0 rgba(0, 0, 0, 0.20), inset 0 0 0 0 rgba(255, 255, 255, 0.25), inset 0 1px 0 0 rgba(255, 255, 255, 0.06);
        border: 1px solid transparent;
    }

    &.checked .box {
        background-image: linear-gradient(-180deg, #1768E5 0%, #145CCC 100%);
    }
}
