:host {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    height: 30px;
    font-size: 12px;
    padding: 0 10px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.73);
    background: #F0F0F0;
    border-top: 1px solid #CECECE;
}

:host-context(.dui-theme-dark) {
    background: #282c32;
    border-top: 1px solid #4a4e54;
    color: white;
}
