:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

[hidden] { 
    display: none !important;
}

.actions {
    margin-bottom: 12px;
    padding: 12px;
    padding-bottom: 0;
}

dui-table ::ng-deep .table-row.new > div {
    background-color: rgba(255, 255, 0, 0.212);
}

.undefined,
.null {
    color: var(--text-light);
}

.cell-actions {
    position: absolute;
    right: 2px;
    top: 2px;

    dui-icon {
        background-color: var(--dui-window-content-bg);
        border-radius: 20px;
        display: none;
        &:hover {
            opacity: 1;
        }
    }
}

dui-table ::ng-deep .table-row > div:hover dui-icon.active {
    display: inline-block;
}

.cell-body {
    border: 1px solid transparent;
    padding: 2px 5px;
    height: 100%;

    &.changed {
        border-radius: 24px;
        background-color: rgba(60, 255, 0, 0.212);
    }

    &.invalid {
        border-radius: 24px;
        border: 1px solid var(--color-red);
    }

    &.editing {
        padding: 0;
        padding-right: 5px;
    
        overflow: hidden;
        text-overflow: clip;
    
        > ng-component {
            display: block;
        }
    
        > ng-component > *,
        > * {
            margin-right: 3px;
            width: 100%;
        }
    }
}

dui-table ::ng-deep .table-row > div {
    padding: 0 !important;
}

dui-table {
    flex: 1;
    border-top: 1px solid var(--line-color-light) !important;
}