:host ::ng-deep dui-window-content > .content {
    padding: 0 !important;
}

.logo {
    width: 16px;
    vertical-align: text-bottom;
    margin-left: 4px;
}

.app-label {
    margin: 0 8px;
    display: inline-block;
    color: var(--text-grey);
}
