
:host {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.toggle-button {
  position: absolute;
  top: 0;
  right: 0;
  visibility: hidden;
}

:host.row-reverse .toggle-button {
  left: 0;
  right: unset;
}

:host.column .toggle-button {
  top: unset;
  left: 0;
  bottom: 0;
}

:host.column-reverse .toggle-button {
  top: 0;
  left: 0;
  bottom: unset;
}

:host.has-hidden {
  .toggle-button {
    visibility: visible;
  }
}

:host.row {
  flex-direction: row;
}

:host.row-reverse {
  flex-direction: row-reverse;
}

:host.column {
  flex-direction: column;
}

:host.column-reverse {
  flex-direction: column-reverse;
}

:host ::ng-deep > * {
  flex: 0 0 auto;
  min-width: 0;
}

:host ::ng-deep > .dui-ac-hidden {
  visibility: hidden;
  pointer-events: none;
}

.dui-dropdown-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
