:host {
    display: flex;

    &:not(:last-child) {
        margin-bottom: 12px;
    }

    .label {
        width: 30%;
        margin-right: 8px;
        line-height: 20px;
        text-align: right;
    }

    .field {
        flex: 1;

        ::ng-deep > * {
            width: 100%;
        }
    }
}

:host.left-aligned {
    .label {
        text-align: left;
    }
}

.error {
    margin-top: 2px;
    color: var(--color-red);
}
