:host {
  display: inline-block;
}

.emoji-image {
  display: inline-block;
  background-image: url(./emoji_apple_32.png);
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  transform-origin: left top;
}
